.chat {
    display: flex;
    flex-direction: column;
    width: 50em;
    height: 50em;
    background-color: transparent;
    border: groove;
}

.chat__log {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    overflow: auto;
}

.chat__message {
    margin: 1ex;
    padding: 1ex;
    border-radius: 15px;
    color: #ffffff;
    white-space: pre-wrap;
    font-weight: bold;
    font-size: 15px;
}

.chat__message--from-me {
    align-self: flex-end;
    justify-content: flex-start;
    text-align: right;
    background-color: #66CCCC;
}

.chat__message--from-her {
    align-self: flex-start;
    justify-content: flex-end;
    background-color: #9999CC;
}

.chat__input {
    display: flex;
    flex: none;
    padding: 1ex;
}

.chat__input textarea {
    width: 92%;
    box-sizing: border-box;
    /*flex: 1 1;*/
    /*resize: 1;*/
    border-radius: 10px;
    border: solid;
    border-color: #a9a9a9;
}

.chat__message--time {
    text-align: right;
    align-self: text-end;
    color: #2F4F4F;
    font-weight: bolder;
    font-size: 10px;
}

.send__button{
    justify-content: flex-right;
    border-color: black;
    /*border-radius: 50px;*/
    border: hidden; 
    background-color: transparent;
    background-image: url("send-button.png");
    background-size: 75%;
   	background-position: center;
    background-repeat: no-repeat;
    flex: 1;
}